.update-kanbans-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.update-kanbans-app-container .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 950px;
  border-radius: 0px 0px 15px 15px;
  background-color: #fff;
}

.update-kanbans-app-container .inner-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 20px;
}

#knbn-example-table {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 4px;
  text-align: center;
}

#knbn-example-table thead {
  background-color: grey;
  height: 30px;
  color: #fff;
  border-style: none;
}

hr {
  border-color: lightgrey;
  border-style: dashed;
  border-width: 1px;
  width: 90%;
}

th {
  padding: 3px;
}

form {
  margin: 20px;
}

label {
  margin: 5px;
}

.mku-form-container {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.mku-form-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 215px;
  max-width: 285px;
}

.knbn-admin-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px !important;
  width: auto !important;
  padding: 10px;
  font-weight: bold;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin: 2px !important;
}

.knbn-admin-tab:hover,
.knbn-admin-tab.active {
  border-color: #2271b1;
  background-color: #2271b1;
  color: #fff;
}

.knbn-admin-tab h4 {
  margin: none;
}

.knbn-lbl-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  font-family: roboto;
}

.knbn-lbl {
  min-width: 450px;
  min-height: 100px;
  margin: 10px;
}

.blue-label,
.red-label {
  height: calc(206px * 1.76);
  width: calc(468px * 1.76);
  border-radius: 50px;
  border-style: solid;
  border-width: 6px;
  border-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: 97% -27%;
  background-size: 35%;
  margin: 20px;
}

.blue-label {
  background-color: #2e3192;
}

.red-label {
  background-color: #ed2024;
}

.title-container {
  height: calc(100% - (148px * 1.76));
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.title-container h4 {
  margin: 0px;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 74px;
  font-style: italic;
}

.lower-label-container {
  background-color: #fff;
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  border-color: #000;
  height: calc(148px * 1.76);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lower-label-container h3 {
  margin: 12px;
  font-size: 30px;
}

.lower-label-container p {
  margin: 0px 20px;
  font-size: 28px;
  font-weight: bold;
}

.blue-label-description {
  margin: 0px 20px;
  font-size: 28px;
  font-weight: bold;
  height: 120px;
  overflow: hidden;
}

.blue-knbn-qty {
  width: 100%;
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  border-color: #000;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.lower-left {
  width: 576px;
  height: 260px;
  border-style: solid;
  border-width: 0px 6px 0px 0px;
  border-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.red-knbn-qty,
.eta,
.purchase-order-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.red-knbn-qty {
  border-style: solid;
  border-width: 0px 6px 0px 0px;
  border-color: #000;
  width: 272px;
  height: 118px;
}

.blue-knbn-qty p,
.red-knbn-qty p {
  font-size: 60px;
}

.eta {
  height: 118px;
  width: 298px;
}

.purchase-order-number {
  height: 136px;
  width: 100%;
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  border-color: #000;
}

.knbn-loading-modal {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
